<%= render 'layouts/header2' %>
<div class="jumbotron" style="padding: 100px">
  <p class="text-center" id="notice"><%= notice %></p>
  <div class="section">
      <div class="container">
        <div class="row">
          
          <div class="col-md-6 col-md-offset-3 white-form" style='padding:30px'>
            <form role="form">
                         
              <div class="form-group has-feedback">
                <label class="control-label" for="exampleInputEmail1">Email address</label>
                <input class="form-control" id="exampleInputEmail1"
                type="text" disabled="disabled" value="<%= current_user.email %>">
              </div>
              <div class="form-group has-feedback">
                <label class="control-label" for="exampleInputPassword1">Sentence learning</label><br>
                  <%= @user_log.sentence_learning %>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>




<div style="margin-top:10px" class="text-center"><%= link_to 'Edit', edit_user_log_path(@user_log) %> |
<%= link_to 'Back', user_logs_path %></div>

</div>
<%= render 'layouts/footer' %>