<div class="jumbotron">
    <p class="text-center" id="notice"><%= notice %></p>
<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 white-form">
            <table class="table">
              <thead>
                <tr>
                  <th>User
                    <br>
                  </th>
                  <th>Number of sentence
                    <br>
                  </th>
                  <th>Deadline</th>
                </tr>
              </thead>
              <tbody>
                <% @goals.each do |goal| %>
        <tr>
          <td><%= goal.user.email %></td>
          <td><%= goal.number_of_sentence %></td>
          <td><%= goal.deadline %></td>
          <td>
          <%= link_to goal, class: '' do %>
            <span class="glyphicon glyphicon-zoom-in"></span>
          <% end %>  
        </td>
        <td>
          <%= link_to edit_goal_path(goal), class: '' do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </td>
        <td>
          <%= link_to goal, method: :delete, data: { confirm: 'Are you sure?' }, class: '' do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
        </tr>
      <% end %>
              </tbody>
            </table>
            <div class="text-center">
              <%= link_to( 'New Goal', new_goal_path, class: 'btn btn-large btn-primary') %>
            </div>
          </div>
        </div>
      </div>
    </div>

<br>


</div>

