<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
  <div class="container">
     <% if user_signed_in?  %>
        <h3>hello <%= current_user.email %>!</h3>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "サインイン", new_user_session_path %>｜
        <%= link_to "ユーザー登録", new_user_registration_path %>
        <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
      <% end %>
      <br>
      <% flash.each do |type, messages| %>
        <strong><%= messages %></strong>
      <% end %>
      <br>
    <%= yield %>
  </div>
</body>
</html>
